%text
  font-family: Styrene A Web, sans-serif
  font-style: normal
  font-weight: 100
  font-size: 18px
  line-height: 23px
  color: #ffffff

body, *
  box-sizing: border-box
  padding: 0
  margin: 0

.header
  height: 100vh
  background: linear-gradient(180deg, #1D1D1D 0%, rgba(29, 29, 29, 0.39) 100%), url(../img/photo.jpg) center center no-repeat
  background-size: cover
  background-attachment: fixed
  &__menu
    display: flex
    justify-content: space-between
    align-items: center
    padding-top: 60px
    margin-bottom: 150px
  &__desc
    text-align: center
    max-width: 45%
    margin: auto
  &__advantage
    text-transform: uppercase
    @extend %text
    margin-bottom: 25px
  &__title
    text-transform: uppercase
    font-family: Styrene A Web
    font-style: normal
    font-weight: 100
    font-size: 50px
    line-height: 64px
    color: #FFFFFF
    margin-top: 0
    margin-bottom: 45px
  &__description
    @extend %text
    padding-bottom: 160px
  &__bold
    font-weight: bold

.container
  width: 90%
  margin: auto

.navigation__list
  display: flex
  justify-content: space-between
  & li 
    list-style: none
    margin-right: 50px
  & li:last-child
    margin-right: 0
  
.navigation__links
  text-decoration: none
  @extend %text
  background-image: linear-gradient(currentColor, currentColor)
  background-position: 50% 100%           // 50% - ОТКУДА НАЧИНАТЬ ПО ГОРИЗОНТАЛИ (0% - СЛЕВА НАПРАВО)
  background-repeat: no-repeat
  background-size: 0% 1px
  transition: background-size .2s
  &:hover
    background-size: 100% 1px

.about
  background: #1D1D1D
  &__services
    margin-bottom: 100px
    &-row
      display: flex
    &-link
      display: flex
      margin-right: 11px
      margin-bottom: 40px
      height: 150px
      width: 47%
    &-title
      font-family: Styrene A Web
      font-style: normal
      font-weight: 100
      font-size: 40px
      line-height: 51px
      color: #FFFFFF
      padding-top: 70px
      margin-bottom: 45px
    &_image
      margin-right: 30px
    &-link-title
      font-family: Styrene A Web
      font-style: normal
      font-weight: bold
      font-size: 20px
      line-height: 26px
      color: #FFFFFF
      margin-bottom: 10px
      padding-top: 20px
    &-link-desc
      @extend %text

.tools__main
  display: flex
  align-items: center
  margin-bottom: 60px

.tools__img
  margin-right: 30px

.tools__title
  font-family: Styrene A Web
  font-style: normal
  font-weight: 100
  font-size: 40px
  line-height: 51px
  color: #FFFFFF
  margin-bottom: 35px

.tools__desc
  @extend %text

.tools__list
  margin-bottom: 70px
  display: flex
  justify-content: space-between

.projects
  background: #212429
  &__title
    font-family: Styrene A Web
    font-style: normal
    font-weight: 100
    font-size: 40px
    line-height: 51px
    color: #FFFFFF
    padding-top: 70px
    margin-bottom: 13px
  &__desc
    @extend %text
    width: 50%
    margin-bottom: 30px
